<div class="row blitz-stats mt-5">
<!-- blog post -->
<div class="col-stats col-stats-1">
    <div class="card-app">
    <div class="card-body">
        <img class="app-img" src="/assets/img/blitz/tick.svg" />
        <p class="card-text">Solved Puzzles</p>
        <h5 class="card-title"><%= stats['puzzles'] %></h5>
    </div>
    </div>
</div>
<!-- /blog post -->

<!-- blog post -->
<div class="col-stats col-stats-2">
    <div class="card-app">
    <div class="card-body">
        <img class="app-img" src="/assets/img/blitz/rocket-solid.svg" />
        <p class="card-text">Total Submissions</p>
        <h5 class="card-title"><%= stats['submissions'] %></h5>
    </div>
    </div>
</div>
<!-- /blog post -->

<!-- blog post -->
<div class="col-stats col-stats-3">
    <div class="card-app">
    <div class="card-body">
        <img class="app-img" src="/assets/img/blitz/video-solid.svg" />
        <p class="card-text">Deployed ML Apps</p>
        <h5 class="card-title"><%= stats['apps'] %></h5>
    </div>
    </div>
</div>
<!-- /blog post -->

<!-- blog post -->
<div class="col-stats col-stats-4">
    <div class="card-app">
    <div class="card-body">
        <img class="app-img" src="/assets/img/blitz/heart.svg" />
        <p class="card-text">Likes</p>
        <h5 class="card-title"><%= stats['likes'] %></h5>
    </div>
    </div>
</div>
<!-- /blog post -->
<!-- blog post -->
<div class="col-stats col-stats-5">
    <div class="card-app">
    <div class="card-body">
        <img class="app-img" src="/assets/img/blitz/eye.svg" />
        <p class="card-text">Views</p>
        <h5 class="card-title"><%= stats['views'] %></h5>
    </div>
    </div>
</div>
</div>